<h1>Имя учетной записи {{username}}<br><br></h1>
<a href="{% url 'register' %}">Зарегистрироваться<br><br></a>

<a href="{% url 'login' %}">Войти в учетную запись<br><br></a>

<a href="{% url 'search' %}">Поиск<br><br></a>

<a href="{% url 'view_suppliers' %}">Просмотр поставщиков<br><br></a>

<a href="{% url 'method' %}">Метод<br><br></a>

<a href="{% url 'grade' %}">Оценить<br><br></a>

<a href="{% url 'logout' %}">Выйти из учетной записи<br><br></a>

{% comment %} <a href="{% url 'create_product' %}">Добавить товар<br><br></a>

<a href="{% url 'create_supplier' %}">Добавить поставщика<br><br></a> {% endcomment %}

<a href='./admin'>Войти под админом<br><br></a>